*{
  margin: 0;padding: 0;box-sizing: border-box;
}
body{
  width: 100%;
  height: 100%;
}
.increase{
  padding: 20px 30px;
margin-right: 10px;
  border-radius: 5px;
  background: rgba(98, 214, 96, 0.872);
  border: none;
  font-size: large;
  text-transform: uppercase;
font-family:helvetica;
 
}
.decrease{
  font-size: large;
  text-transform: uppercase;
font-family:helvetica;
  padding: 20px 30px;
  border: none;
  border-radius: 5px;

  background: rgba(214, 22, 22, 0.774);
}
div{
  width: 80%;
  margin: auto;

}
h1{
  font-size: 100px;
  background: rgb(128, 128, 128);
  color: rgba(255, 255, 255, 0.824);
  margin-top: 10px;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}