.middle {
  height: 90vh;
  background: linear-gradient(135deg, #007bff, #00bcd4);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.middle-content h1 {
  font-size: 3rem;
  margin-bottom: 15px;
}

.middle-content p {
  font-size: 1.2rem;
  margin-bottom: 25px;
}

.middle-content button {
  background-color: white;
  color: #007bff;
  border: none;
  padding: 12px 25px;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.middle-content button:hover {
  background-color: #f1f1f1;
}
