@import "tailwindcss";

#right {
    overflow-y: scroll;
    scrollbar-width: none;        /* Firefox */
    -ms-overflow-style: none;     /* IE/Edge */
}

#right::-webkit-scrollbar{
    display: none;
}